/*Сброс стандартных отступов*/ 
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
/* Общие стили для body*/
body {
    font-family: 'Arial', sans-serif;
    line-height: 1.6
    color #ffffff;
}
/*стили для контейнера*/
.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 20 px;
}
/*Стили для шапки*/
.header {
    background-color:#ffffff;

}
/*Flex-раскладка для шапки*/
.header .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
/*Стиль для герой-секции*/
.hero{
    background: linear-gradient(1350deg, #50964bc4 0%, #1d3474 100%);
    color: rgb(0, 0, 0);
    margin: 20px;
    padding: 16px 20px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.5);
}
.btn{
    background: linear-gradient(360deg, #5a4b96c4 30%, #1d3474 100%);
    display: inline;
    padding: 12px 24px;
    color: rgb(141, 166, 190)
    font-size 16px;
    text-shadow: 2px 2px 4px #000000;
    cursor: pointer;
    text-decoration: none;
}
.btn1{
    color: currentcolor;
    background: linear-gradient(180deg, #ff3737c4 30%, #ffffff 100%);
}
.nav {
    display: flex;
    gap: 20px;
    align-items: center;
}
.nav .btn1 {
    display: inline-block;
    padding: 10px 20px;
    background-color: #4CAF50;
    color: white
    text-decoration none;
    border-radius: 5px;
    border: none;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s;

}
.nav .btn1:hover{
    background-color: #45a049;
}
.logo{
    cursor: pointer;
    display: flex;
    text-decoration: none;
}
.nav .btn2 {
    width: 100px;
    height: 100px;
    display:inline flexbox;
    padding: 20px 30px;
    background-color: #ffffff;
    color:#000000;
    text-decoration: none;
    border-radius: 5px;
    border: none;
    cursor:pointer;
    cursor:
    font-size 20px;
}